gallery-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    arpa-image.listItem__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        img {
            object-fit: contain;
            max-height: calc(100vh - var(--gallery-controls-height) - 2rem);
        }
    }

    .listItem__title {
        padding: 1rem;
    }

    circular-preloader {
        --preloader-size: 120px;
    }
}

.galleryItem__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}

.galleryItem__contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.galleryItem__caption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: var(--overlay);
    font-size: 1.1rem;
    font-weight: normal;
    font-weight: 500;
}
