gallery-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    arpa-image.listItem__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        max-height: 100%;
        img {
            position: absolute;
            inset: 0;
            object-fit: contain;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .listItem__title {
        padding: 1rem;
    }

    circular-preloader {
        --preloader-size: 120px;
    }
}

.galleryItem__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}

.galleryItem__contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.galleryItem__caption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    line-height: 1.8rem;
    padding: 1rem 1.5rem;
    background-color: var(--overlay-95);
    font-size: 1.1rem;
    font-weight: 500;
    transition: var(--theme-transition);
    opacity: 1;
    overflow: auto;
    max-height: 60dvh;
    border-radius: 8px;
    box-shadow: var(--comboBox-shadow);
}

.gallery--captions-on .galleryItem__caption {
    opacity: 0;
}
