:root {
    --gallery-controls-height: 112px;
}

arpa-gallery {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .galleryThumbnails {
        display: none;
    }

    &.gallery--thumbnails .galleryThumbnails {
        display: flex;
    }

    .arpaList--itemsOut {
        bottom: 0;
    }

    &:has(.galleryThumbnails[position='left']) gallery-item arpa-image {
        padding-left: var(--gallery-thumbnails-width);
    }
    &:has(.galleryThumbnails[position='right']) gallery-item arpa-image {
        padding-right: var(--gallery-thumbnails-width);
    }

    &:not(.gallery--thumbnails) gallery-item.listItem arpa-image {
        padding-left: 0;
        padding-right: 0;
    }
}

.gallery__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.gallery__controls {
    padding: 0.5rem;
    z-index: 1;
}

.gallery__footer {
    z-index: 1;
}

gallery-spacer {
    margin-left: auto;
}

/**
* State
*/

.galleryItem__caption {
    transition: var(--theme-transition);
}

.gallery:not(.gallery--captions-on) .galleryItem__caption {
    opacity: 1;
}

.gallery--captions-on .galleryItem__caption {
    opacity: 0;
}

/**
* Thumbnails layout
*/

.gallery:has(.galleryThumbnails--left).gallery--thumbnails:not(.gallery--hide-controls) gallery-item arpa-image {
    padding-left: var(--gallery-thumbnails-height);
}

.gallery:not(.gallery--hide-controls) .galleryThumbnails {
    opacity: 1;
}

.gallery--thumbnails:has(.galleryThumbnails[position='bottom']),
.gallery--thumbnails:has(.galleryThumbnails[position='top']) {
    gallery-item {
        arpa-image.listItem__image img {
            max-height: calc(100vh - var(--gallery-controls-height) - var(--gallery-thumbnails-height) - 2rem);
        }
    }
}

.gallery--hide-controls.gallery--hide-controls {
    .gallery__footer,
    .listItem__titleWrapper {
        position: absolute;
        left: 0;
        right: 0;
        height: 54px;
        opacity: 0;
        transition: var(--theme-transition);
    }

    &:hover {
        .galleryThumbnails,
        .gallery__footer,
        .listItem__titleWrapper {
            opacity: 1;
            z-index: 1;
        }
    }

    .gallery__footer {
        top: auto;
        bottom: 0;
    }

    .listItem__titleWrapper {
        top: 0;
        background-color: var(--overlay);
    }

    gallery-item arpa-image.listItem__image img {
        max-height: calc(100vh - 2rem);
    }

    .galleryItem__caption {
        bottom: var(--gallery-controls-height);
    }

    &:not(.gallery--active) {
        .galleryThumbnails,
        .gallery__footer,
        .listItem__titleWrapper {
            opacity: 0;
        }
    }

    &:has(.galleryThumbnails[position='top']) .gallery__header {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    &:has(.galleryThumbnails[position='left']) gallery-item arpa-image {
        padding-left: 0;
    }

    &:has(.galleryThumbnails[position='right']) gallery-item arpa-image {
        padding-right: 0;
    }

    &.gallery--thumbnails:has(.galleryThumbnails[position='bottom']),
    &.gallery--thumbnails:has(.galleryThumbnails[position='top']) {
        gallery-item arpa-image.listItem__image img {
            max-height: calc(100vh - 2rem);
        }
    }

    .galleryThumbnails[position='bottom'] {
        bottom: calc(var(--gallery-controls-height) * 1.5);
        top: auto;
    }
}
