:root {
    --gallery-height: 100dvh;
    --gallery-thumbnails-height: 6.875rem;
    --gallery-thumbnails-width: 5rem;
    --gallery-controls-height: 3.3rem;
    --gallery-vertical-clearance: calc(var(--gallery-thumbnails-height) + var(--gallery-controls-height));
    --gallery-header-height: 3.3rem;
    --gallery-padding: 1rem;
}

arpa-gallery {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .galleryThumbnails {
        display: none;
    }

    .arpaList--itemsOut {
        bottom: 0;
    }
}

.gallery__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.gallery__view {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    touch-action: none;
}

.gallery__controls {
    padding: 0.5rem 0;
    z-index: 1;
}

.gallery__footer {
    overflow: visible;
    z-index: 1;
}

gallery-spacer {
    margin-left: auto;
}

/**
* Thumbnails layout
*/

.gallery:not(.gallery--hide-controls) .galleryThumbnails {
    opacity: 1;
}

.gallery--thumbnails.gallery--thumbnails {
    .galleryThumbnails {
        display: flex;
    }
    &:has(.galleryThumbnails[position='left']) {
        gallery-item {
            arpa-image {
                padding-left: calc(var(--gallery-thumbnails-width) + 4px);
            }
            .galleryItem__caption {
                margin-left: calc(var(--gallery-thumbnails-width));
            }
        }
    }
    &:has(.galleryThumbnails[position='right']) {
        gallery-item {
            arpa-image {
                padding-right: calc(var(--gallery-thumbnails-width) + 4px);
            }
            .galleryItem__caption {
                margin-right: calc(var(--gallery-thumbnails-width));
            }
        }
    }
}

/**
* Hide controls layout
*/

.gallery--hide-controls.gallery--hide-controls {
    &:hover {
        .galleryThumbnails,
        .gallery__footer,
        .listItem__titleWrapper {
            opacity: 1;
            z-index: 1;
        }
    }

    .gallery__footer,
    .listItem__titleWrapper {
        position: absolute;
        left: 0;
        right: 0;
        height: 54px;
        opacity: 0;
        transition: var(--theme-transition);
    }

    .gallery__footer {
        top: auto;
        bottom: 0;
    }

    .listItem__titleWrapper {
        top: 0;
        background-color: var(--overlay);
    }

    gallery-item arpa-image.listItem__image img {
        max-height: calc(var(--gallery-height) - 2rem);
    }

    .galleryItem__caption {
        bottom: var(--gallery-padding);
    }

    &:not(.gallery--active) {
        .galleryThumbnails,
        .gallery__footer,
        .listItem__titleWrapper {
            opacity: 0;
        }
    }

    &:has(.galleryThumbnails[position='top']) .gallery__header {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .galleryThumbnails[position='bottom'] {
        bottom: var(--gallery-vertical-clearance);
        top: auto;
    }

    .galleryThumbnails[position='top'] {
        top: var(--gallery-header-height);
        bottom: auto;
    }

    &:has(.galleryThumbnails[position='left']) gallery-item arpa-image {
        padding-left: 0;
    }
    &:has(.galleryThumbnails[position='right']) gallery-item arpa-image {
        padding-right: 0;
    }

    .galleryThumbnails[position='left'],
    .galleryThumbnails[position='right'] {
        top: var(--gallery-header-height);
        bottom: var(--gallery-controls-height);
        height: auto;
    }
}
