.galleryThumbnails {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    height: var(--gallery-thumbnails-height);
    justify-content: center;
    max-height: var(--gallery-thumbnails-height);
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: var(--theme-transition);
    opacity: 0;
    z-index: 0;
}

.galleryThumbnails__mask {
    max-height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

button.galleryThumbnails__arrow.galleryThumbnails__arrow {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 4px;
    background-color: var(--grey-0);
    border: none;
}

.galleryThumbnails[position='left'],
.galleryThumbnails[position='right'] {
    position: absolute;
    max-height: none;
    width: var(--gallery-thumbnails-width);
    height: calc(100% - 6px);
    left: 0;
    padding-top: 54px;
    padding-bottom: calc(var(--gallery-thumbnails-height) / 2);

    .galleryThumbnails__mask {
        flex-direction: column;
    }

    arpa-image {
        max-width: 100%;
    }

    img {
        object-fit: contain;
        max-height: none;
        max-width: 100%;
        height: auto;
        min-height: auto;
    }
}

.galleryThumbnails[position='right'] {
    left: auto;
    right: 0;
}

.gallery--hide-controls {
    .galleryThumbnails[position='left'],
    .galleryThumbnails[position='right'] {
        padding-top: 0;
        padding-bottom: 0;
    }
}
